<div class="container">
<div class="tableContainer">
<table>
<tr>
	<th><h1>Schools</h1></th>
	<th><h1>Head Delegates</h1></th>
</tr>
<tr>
	<td>Carleton University</td>
	<td>Head Delegate</td>
</tr>
<tr>
	<td>Concordia University</td>
	<td>Head Delegate</td>
</tr>
<tr>
	<td>McGill University</td>
	<td>Head Delegate</td>
</tr>
<tr>
	<td>McMaster University</td>
	<td>Head Delegate</td>
</tr>
<tr>
	<td>Queen's University</td>
	<td>Head Delegate</td>
</tr>
<tr>
	<td>University of Guelph</td>
	<td>Head Delegate</td>
</tr>
<tr>
	<td>University of Ottawa</td>
	<td>Head Delegate</td>
</tr>
<tr>
	<td>University of Toronto</td>
	<td>Head Delegate</td>
</tr>
<tr>
	<td>University of Waterloo</td>
	<td>Head Delegate</td>
</tr>
<tr>
	<td>University of Ottawa</td>
	<td>Head Delegate</td>
</tr>
<tr>
	<td>York University</td>
	<td>Head Delegate</td>
</tr>
</table>
</div>
</div>