/* Header Styling */
.header {
	
}
 /* Layout Styling */
html, body {
	background: #696B80;
	margin: 0;
	min-height: 100%; 
}

.container {

	width:960px;
	
	/*margin:0 auto 0 auto; specify all four arguments at once*/
	margin: 0 auto; /*specify top and bottom and then right and left - allows to center the container*/

	
}
/* Navigation Styling */
.navigation {
	background: #696B80;
	color:white;
}

.nav-link {
	display:inline-block;
	padding:10px 20px;
	text-decoration:none;
	margin-right: 20px;
	color:white; 

	&:hover {
		background:#5D4056;
		color:black;
	}

	&:visited {
		color:white;
	}

}
/*Logo*/
img {
	max-width: 100%;
	height: auto;
}

/* Content Styling */
.content {

	background: #696B80;
	h1 {
		margin-top: 0;

	}
}

/* Footer Styling */
.footer {

	background: #696B80;
	color:white;
}
