/* Header Styling */
.header {
	min-height: 50%;
	background: white;
	color: white;
}
 /* Layout Styling */
html, body {

	background-image: url('crossword.png');
	margin: 0;
	min-height: 100%; 
}

.home{
	background: #696B80;
	margin: 0;
	min-height: 100%; 
}

.container {

	width:960px;
	
	/*margin:0 auto 0 auto; specify all four arguments at once*/
	margin: 0 auto; /*specify top and bottom and then right and left - allows to center the container*/

	
}
/* Navigation Styling */
.navigation {
	background: white;
	color:#696B80;
	height: 20%;
	padding-left: 7%;
	width: auto;
	padding-top: 2%;
	padding-bottom: 2%;
}

.nav-link {
	display:inline-block;
	text-align: center;
	text-decoration:none;
	margin-right: 3%;
	margin-left: 3%;
	color:white; 

	&:hover {
		background: white;
		font-size: 16px;
		font-weight: bold;
	}

	&:visited {
		color:#5D4056;
	}

}
/*Logo*/
img {
	max-width: 100%;
	height: auto;
}

/* Content Styling */
.content {

	background: white;
	width:auto;
	margin-left: 15%; 
	margin-right: 15%; 
	h1 {
		margin-top: 30;
		text-align: center;
		padding-top: 5%; 

	}

	p {
		text-align: center;
	}
}

/* Footer Styling */
.footer {

	background: #696B80;
	color:white;
}
